* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; WORD-BREAK: break-all; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A {
	COLOR: #5f5f5f; TEXT-DECORATION: none
}
A:visited {
	COLOR: #5f5f5f; TEXT-DECORATION: none
}
A:hover {
	COLOR: #5f5f5f; TEXT-DECORATION: underline
}
*.tleft {
	TEXT-ALIGN: left
}
*.tcenter {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 100%
}
*.tright {
	TEXT-ALIGN: right
}
.l16 {
	LINE-HEIGHT: 16px
}
.l18 {
	LINE-HEIGHT: 18px
}
.l20 {
	LINE-HEIGHT: 20px
}
*.l22 {
	LINE-HEIGHT: 22px
}
.b {
	FONT-WEIGHT: bold
}
.clear {
	CLEAR: both
}
.clear1 {
	HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
*.f14 {
	FONT-SIZE: 14px
}
*.f12 {
	FONT-SIZE: 12px
}
*.f18 {
	FONT-SIZE: 18px
}
.f24 {
	FONT-SIZE: 24px
}
*.HackBox {
	CLEAR: both; BORDER-TOP: 1px solid
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
*.fleft {
	FLOAT: left
}
.fright {
	FLOAT: right
}
