*.c_white {
	COLOR: #fff; TEXT-DECORATION: none
}
A.c_white {
	COLOR: #fff; TEXT-DECORATION: none
}
A.c_white:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.c_white:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
.c_grey {
	COLOR: #dcdcdc; TEXT-DECORATION: none
}
A.c_grey {
	COLOR: #dcdcdc; TEXT-DECORATION: none
}
A.c_grey:visited {
	COLOR: #dcdcdc; TEXT-DECORATION: none
}
A.c_grey:hover {
	COLOR: #54ad26; TEXT-DECORATION: none
}
.c_grey1 {
	COLOR: #a6a6a6; TEXT-DECORATION: none
}
A.c_grey1 {
	COLOR: #a6a6a6; TEXT-DECORATION: none
}
A.c_grey1:visited {
	COLOR: #a6a6a6; TEXT-DECORATION: none
}
A.c_grey1:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
.c_grey2 {
	COLOR: #636363; TEXT-DECORATION: none
}
A.c_grey2 {
	COLOR: #636363; TEXT-DECORATION: none
}
A.c_grey2:visited {
	COLOR: #636363; TEXT-DECORATION: none
}
A.c_grey2:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
*.c_grey3 {
	COLOR: #bebebe; TEXT-DECORATION: none
}
A.c_grey3 {
	COLOR: #bebebe; TEXT-DECORATION: none
}
A.c_grey3:visited {
	COLOR: #bebebe; TEXT-DECORATION: none
}
A.c_grey3:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
*.c_green {
	COLOR: #67ae3e; TEXT-DECORATION: none
}
A.c_green {
	COLOR: #67ae3e; TEXT-DECORATION: none
}
A.c_green:visited {
	COLOR: #67ae3e; TEXT-DECORATION: none
}
A.c_green:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
.c_green1 {
	COLOR: #9cbc37; TEXT-DECORATION: none
}
A.c_green1 {
	COLOR: #9cbc37; TEXT-DECORATION: none
}
A.c_green1:visited {
	COLOR: #9cbc37; TEXT-DECORATION: none
}
A.c_grenn1:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
.c_black {
	COLOR: #494947; TEXT-DECORATION: none
}
A.c_black {
	COLOR: #494947; TEXT-DECORATION: none
}
A.c_black:visited {
	COLOR: #494947; TEXT-DECORATION: none
}
A.c_black:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
.c_orange {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.c_orange {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.c_orange:visited {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.c_orange:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
.c_blue {
	COLOR: #0096ff; TEXT-DECORATION: none
}
A.c_blue {
	COLOR: #0096ff; TEXT-DECORATION: none
}
A.c_blue:visited {
	COLOR: #0096ff; TEXT-DECORATION: none
}
A.c_blue:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
*.c_blue1 {
	COLOR: #073ea2; TEXT-DECORATION: none
}
A.c_blue1 {
	COLOR: #073ea2; TEXT-DECORATION: none
}
A.c_blue1:visited {
	COLOR: #073ea2; TEXT-DECORATION: none
}
A.c_blue1:hover {
	COLOR: #339933; TEXT-DECORATION: none
}
*.line {
	BACKGROUND-COLOR: #818181; HEIGHT: 1px; OVERFLOW: hidden
}
*.nob {
	FONT-WEIGHT: normal
}
.nobg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.border {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #e7e7e7 1px solid; BACKGROUND-COLOR: #fbfbfb; BORDER-TOP: 0px; BORDER-RIGHT: #e7e7e7 1px solid
}
.f18 {
	FONT-SIZE: 18px
}
.f_black {
	FONT-FAMILY: ºÚÌå
}
*#wrapper {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 960px
}
*#submenu {
	PADDING-RIGHT: 8px; BACKGROUND: url(../images/submenu_bg.gif) repeat-x left top; HEIGHT: 33px
}
*#submenu UL {
	FLOAT: left; PADDING-TOP: 11px
}
*#submenu LI {
	PADDING-RIGHT: 10px; BACKGROUND: url(../images/submenu_line.gif) no-repeat right top; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 10px; _margin-left: 5px
}
#submenu .dl {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; WIDTH: 100px; BACKGROUND: url(../images/dl_bg.jpg) no-repeat left top; FLOAT: right; HEIGHT: 21px; PADDING-TOP: 3px
}
#submenu .dl SPAN {
	MARGIN: 0px 6px
}
*.tj {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/swf_bg.jpg) #fff repeat-x left top; PADDING-TOP: 10px
}
*.tj *.title {
	PADDING-LEFT: 34px; MARGIN-BOTTOM: 12px; BACKGROUND: url(../images/ico_1.gif) no-repeat left top; FLOAT: left
}
*.tj *.content {
	
}
*.tj *.content *.left {
	WIDTH: 11px; BACKGROUND: url(../images/tj_left.jpg) no-repeat left top; FLOAT: left; HEIGHT: 330px
}
*.tj .content *.mid {
	BACKGROUND-COLOR: #494947; WIDTH: 920px; FLOAT: left; HEIGHT: 321px; PADDING-TOP: 9px
}
.tj *.content .mid *.swf {
	POSITION: relative; WIDTH: 422px; BACKGROUND: url(../images/loading.gif) no-repeat center center; FLOAT: left
}
.tj *.content .mid .swf IMG {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
*.tj *.content *.mid *.swf *.mm {
	POSITION: absolute; WIDTH: 423px; BOTTOM: 0px; BACKGROUND: url(../images/swf_b.gif) repeat-x left top; HEIGHT: 96px; LEFT: 0px; -moz-opacity: 0.7; opacity: 0.7
}
*.tj .content *.mid .swf DL {
	POSITION: absolute; TOP: 224px; LEFT: 8px
}
.tj .content .mid .swf DL DT {
	WIDTH: 408px; FONT-FAMILY: ºÚÌå; MARGIN-BOTTOM: 0px; COLOR: #fff; FONT-SIZE: 18px
}
.tj .content .mid .swf DL DT SPAN {
	FLOAT: left; HEIGHT: 40px; PADDING-TOP: 5px
}
.tj .content .mid .swf DL DD {
	LINE-HEIGHT: 26px; MARGIN-TOP: -10px; TEXT-INDENT: 24px; FLOAT: left; HEIGHT: 55px; COLOR: #fff; OVERFLOW: hidden
}


.tj *.content .mid .js {
	WIDTH: 490px; FLOAT: right
}
.tj .content .mid .js .js_top {
	BACKGROUND: url(../images/jc_top.jpg) no-repeat left top; HEIGHT: 10px; OVERFLOW: hidden
}
*.tj *.content *.mid *.js *.js_mid {
	TEXT-ALIGN: left; PADDING-LEFT: 14px; WIDTH: 476px; BACKGROUND: url(../images/jc_mid.jpg) repeat-y left top
}
*.tj .content .mid .js .js_mid .title1 {
	POSITION: relative; MARGIN-BOTTOM: 14px
}
*.tj .content .mid .js .js_mid .title1 .fy {
	POSITION: absolute; TOP: 0px; RIGHT: 14px
}
.tj .content .mid .js .js_mid .title1 .fy IMG {
	MARGIN: 0px 5px
}
.tj .content .mid .js .js_mid .list_img {
	POSITION: relative; WIDTH: 462px; OVERFLOW: hidden
}
.tj .content .mid .js .js_mid .list_img UL {
	WIDTH: 50000px
}
.tj .content .mid .js .js_mid .list_img LI {
	WIDTH: 132px; FLOAT: left; MARGIN-RIGHT: 32px
}
.tj .content .mid .js .js_mid .list_img LI .img {
	BORDER-BOTTOM: #e9e9e9 4px solid; POSITION: relative; TEXT-ALIGN: left; BORDER-LEFT: #e9e9e9 4px solid; MARGIN-BOTTOM: 10px; BORDER-TOP: #e9e9e9 4px solid; BORDER-RIGHT: #e9e9e9 4px solid
}
.tj .content .mid .js *.js_mid *.list_img LI *.img *.bg {
	POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 35px; HEIGHT: 31px; TOP: 30px; LEFT: 44px; -moz-opacity: 0.2; opacity: 0.2
}
*.tj *.content *.mid *.js *.js_mid *.list_img LI *.img *.bf {
	POSITION: absolute; TOP: 36px; LEFT: 58px
}
*.tj *.content *.mid *.js *.js_mid *.list_img LI DIV {
	MARGIN-BOTTOM: 8px
}
*.tj *.content *.mid *.js *.js_mid *.list_img LI DIV.height {
	HEIGHT: 16px
}
*.tj *.content *.mid *.js *.js_mid *.list_img LI DIV.height1 {
	HEIGHT: 14px; _height: 15px
}
*.tj *.content *.mid *.js *.js_mid *.list_font UL {
	
}
*.tj .content .mid .js .js_mid .list_font LI {
	MARGIN-TOP: 10px; WIDTH: 220px; FLOAT: left; MARGIN-RIGHT: 10px; _margin-top: 8px
}
.tj .content .mid .js .js_bot {
	BACKGROUND: url(../images/jc_bot.jpg) no-repeat left top; HEIGHT: 6px; OVERFLOW: hidden
}



.tj .content .right {
	WIDTH: 11px; BACKGROUND: url(../images/tj_right.jpg) no-repeat left top; FLOAT: left; HEIGHT: 330px
}
.tj .swf_menu {
	PADDING-LEFT: 40px
}
.tj .swf_menu .left {
	WIDTH: 8px; BACKGROUND: url(../images/swf_menu_left.jpg) no-repeat left top; FLOAT: left; HEIGHT: 29px
}
.tj .swf_menu .mid {
	WIDTH: 847px; BACKGROUND: url(../images/swf_menu_mid.jpg) repeat-x left top; FLOAT: left; HEIGHT: 29px
}
.tj .swf_menu .mid UL {
	MARGIN-LEFT: 18px
}
.tj .swf_menu .mid LI {
	TEXT-ALIGN: center; WIDTH: 97px; BACKGROUND: url(../images/line.gif) no-repeat left top; FLOAT: left; HEIGHT: 22px; PADDING-TOP: 7px
}
.tj .swf_menu .mid LI.expli {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 97px; BACKGROUND: url(../images/expli.jpg) no-repeat left top; HEIGHT: 27px; COLOR: #fff; PADDING-TOP: 7px; LEFT: -2px
}
.tj .swf_menu .right {
	WIDTH: 9px; BACKGROUND: url(../images/swf_menu_r.jpg) no-repeat left top; FLOAT: left; HEIGHT: 29px
}
.tj *.content *.top {
	WIDTH: 919px; BACKGROUND: url(../images/index1_tj_t.jpg) no-repeat left top; HEIGHT: 6px; OVERFLOW: hidden
}
*.tj *.content *.mid_list {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 17px; WIDTH: 878px; PADDING-RIGHT: 24px; BACKGROUND: url(../images/index1_tj_m.jpg) repeat-y left top; HEIGHT: 284px; PADDING-TOP: 12px
}
*.tj *.content *.mid_list *.aa {
	FLOAT: left
}
*.tj *.content *.mid_list *.bb {
	FLOAT: left
}
*.tj *.content *.mid_list *.bb UL {
	PADDING-TOP: 2px; _padding-top: 1px
}
*.tj *.content *.mid_list *.bb LI {
	PADDING-RIGHT: 16px; BACKGROUND: url(../images/line_b.jpg) no-repeat right 1px; FLOAT: left; MARGIN-LEFT: 14px
}
*.tj *.content *.mid_list *.cc {
	POSITION: relative; WIDTH: 150px; FLOAT: right
}
*.tj *.content *.mid_list *.cc *.fy {
	POSITION: absolute; TOP: 6px; RIGHT: 6px
}
*.tj *.content *.mid_list *.cc *.fy IMG {
	MARGIN: 0px 6px
}
.tj .content .mid_list .img_list {
	POSITION: relative; MARGIN-TOP: 25px; WIDTH: 878px; OVERFLOW: hidden
}
.tj .content .mid_list .img_list UL {
	WIDTH: 400000px
}
.tj .content .mid_list .img_list LI {
	FLOAT: left; MARGIN-RIGHT: 54px
}
.tj .content .mid_list .img_list LI .img {
	BORDER-BOTTOM: #e9e9e9 4px solid; POSITION: relative; BORDER-LEFT: #e9e9e9 4px solid; WIDTH: 124px; MARGIN-BOTTOM: 12px; HEIGHT: 97px; OVERFLOW: hidden; BORDER-TOP: #e9e9e9 4px solid; BORDER-RIGHT: #e9e9e9 4px solid
}
.tj .content .mid_list .img_list LI DIV {
	MARGIN-BOTTOM: 12px
}
.tj .content .mid_list .img_list LI DIV.title2 {
	WIDTH: 128px; HEIGHT: 36px; OVERFLOW: hidden
}
.tj .content .mid_list .img_list LI DIV.title3 {
	WIDTH: 128px; HEIGHT: 14px; OVERFLOW: hidden
}
.tj .content .mid_list .img_list LI *.img *.bg {
	POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 35px; HEIGHT: 31px; TOP: 30px; LEFT: 44px; -moz-opacity: 0.2; opacity: 0.2
}
*.tj *.content *.mid_list *.img_list LI *.img *.bf {
	POSITION: absolute; TOP: 36px; LEFT: 58px
}
*.tj *.content *.bot {
	WIDTH: 919px; BACKGROUND: url(../images/index1_tj_b.jpg) no-repeat left top; HEIGHT: 9px; OVERFLOW: hidden
}
*.siderA_box {
	WIDTH: 659px; FLOAT: left
}
*.siderB_box {
	WIDTH: 270px; FLOAT: right
}
*.siderD_box {
	PADDING-TOP: 14px
}
*.siderE_box {
	PADDING-TOP: 14px
}
*.siderF_box {
	PADDING-TOP: 14px
}
*.siderG_box {
	PADDING-TOP: 14px
}
*.siderH_box {
	PADDING-TOP: 14px
}
*.siderJ_box {
	PADDING-TOP: 14px
}
*.siderK_box {
	PADDING-TOP: 14px
}
*.siderL_box {
	PADDING-TOP: 14px
}
*#contain {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 9px; PADDING-RIGHT: 13px; PADDING-TOP: 30px; _padding-top: 20px
}
*#contain .title {
	
}
#contain .fy {
	POSITION: absolute; TOP: 6px; RIGHT: 6px
}
#contain .fy .img {
	MARGIN: 0px 6px
}
#contain .title .left {
	WIDTH: 7px; BACKGROUND: url(../images/title_l.jpg) no-repeat left top; FLOAT: left; HEIGHT: 32px
}
#contain .title .mid {
	Z-INDEX: 3; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; WIDTH: 638px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/title_m.jpg) repeat-x left top; FLOAT: left; HEIGHT: 23px; PADDING-TOP: 9px
}
#contain .title .mid SPAN {
	FLOAT: left
}
#contain .title .mid .bb {
	FLOAT: left
}
#contain .title .mid .bb UL {
	PADDING-TOP: 0px
}
*#contain .title .mid .bb LI {
	PADDING-RIGHT: 16px; BACKGROUND: url(../images/line_b.jpg) no-repeat right 2px; FLOAT: left; MARGIN-LEFT: 14px
}
*#contain .title .right {
	WIDTH: 5px; BACKGROUND: url(../images/title_r.jpg) no-repeat left top; FLOAT: left; HEIGHT: 32px
}
#contain .content {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; WIDTH: 644px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 7px
}
#contain .content UL.three {
	WIDTH: 40000px
}
#contain .content UL.three LI {
	WIDTH: 192px; FLOAT: left; MARGIN-RIGHT: 24px
}
*#contain *.content UL.three LI *.img {
	BORDER-BOTTOM: #e9e9e9 6px solid; BORDER-LEFT: #e9e9e9 6px solid; MARGIN-BOTTOM: 10px; BORDER-TOP: #e9e9e9 6px solid; BORDER-RIGHT: #e9e9e9 6px solid
}
*#contain *.content UL.three LI DIV {
	MARGIN-BOTTOM: 9px
}
*#contain *.content UL.three LI DIV.mab {
	MARGIN-BOTTOM: 0px
}
*#contain *.content UL.three LI DIV.sm {
	MARGIN: 25px 0px
}
*#contain *.content UL.three LI DIV.t {
	Z-INDEX: 300; POSITION: relative; HEIGHT: 1px; marign-top: 0; margin-bootom: 0
}
*#contain *.content UL.three LI DIV.t *.tc {
	Z-INDEX: 310; BORDER-BOTTOM: #858585 1px solid; POSITION: absolute; BORDER-LEFT: #858585 1px solid; BACKGROUND-COLOR: #000; WIDTH: 192px; HEIGHT: 155px; BORDER-TOP: #858585 1px solid; TOP: 130px; RIGHT: 0px; BORDER-RIGHT: #858585 1px solid; -moz-opacity: 0.1; opacity: 0.1; _height: 160px
}
*#contain *.content UL.three LI DIV.t *.tcc {
	Z-INDEX: 311; POSITION: absolute; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 13px; WIDTH: 154px; PADDING-RIGHT: 13px; HEIGHT: 128px; TOP: 136px; RIGHT: 7px; PADDING-TOP: 8px; _right: 7px
}
*#contain .content UL.three LI DIV.t .tcc .title {
	POSITION: relative; MARGIN-BOTTOM: 8px
}
#contain .content UL.three LI DIV.t .tcc .title .close {
	POSITION: absolute; TOP: -3px; RIGHT: 0px; _right: 8px
}
#contain .content UL.three LI DIV.t .tcc .content1 DIV {
	LINE-HEIGHT: 18px; WIDTH: 160px; MARGIN-BOTTOM: 3px; FLOAT: left; CLEAR: both
}
#contain .content UL.three LI DIV.sm A {
	MARGIN: 0px 20px 0px 8px
}
#contain .content UL.four {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; WIDTH: 40000px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
#contain .content UL.four LI {
	WIDTH: 132px; FLOAT: left; MARGIN-RIGHT: 27px
}
#contain .content UL.four LI .img {
	Z-INDEX: 200; BORDER-BOTTOM: #e9e9e9 3px solid; POSITION: relative; BORDER-LEFT: #e9e9e9 3px solid; WIDTH: 124px; MARGIN-BOTTOM: 8px; HEIGHT: 97px; OVERFLOW: hidden; BORDER-TOP: #e9e9e9 3px solid; BORDER-RIGHT: #e9e9e9 3px solid
}
#contain .content UL.four LI *.img *.bg {
	POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 35px; HEIGHT: 31px; TOP: 30px; LEFT: 44px; -moz-opacity: 0.2; opacity: 0.2
}
*#contain *.content UL.four LI *.img *.bf {
	POSITION: absolute; TOP: 36px; LEFT: 58px
}
*#contain *.content UL.four LI *.tm {
	LINE-HEIGHT: 18px; MARGIN-BOTTOM: 10px; HEIGHT: 35px; OVERFLOW: hidden
}
*#contain *.content UL.four LI *.ly {
	MARGIN-BOTTOM: 8px
}
*#contain *.content UL.four LI *.bf {
	MARGIN-BOTTOM: 24px
}
*#contain *.content *.max {
	WIDTH: 40000px
}
*#contain *.content UL.eight {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; WIDTH: 644px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 15px
}
*#contain *.content UL.eight LI {
	WIDTH: 132px; FLOAT: left; HEIGHT: 235px; OVERFLOW: hidden; MARGIN-RIGHT: 27px
}
*#contain *.content UL.eight LI *.img {
	BORDER-BOTTOM: #e9e9e9 3px solid; POSITION: relative; BORDER-LEFT: #e9e9e9 3px solid; WIDTH: 124px; MARGIN-BOTTOM: 8px; HEIGHT: 97px; OVERFLOW: hidden; BORDER-TOP: #e9e9e9 3px solid; BORDER-RIGHT: #e9e9e9 3px solid
}
#contain .content UL.eight LI .img .bg {
	Z-INDEX: 1000; POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 35px; HEIGHT: 31px; TOP: 30px; LEFT: 44px; -moz-opacity: 0.2; opacity: 0.2
}
#contain .content UL.eight LI .img .bf {
	Z-INDEX: 1000; POSITION: absolute; TOP: 36px; LEFT: 58px
}
#contain .content UL.eight LI .tm {
	LINE-HEIGHT: 18px; MARGIN-BOTTOM: 10px; HEIGHT: 35px; OVERFLOW: hidden
}
#contain .content UL.eight LI .ly {
	MARGIN-BOTTOM: 8px
}
#contain .content UL.eight LI .bf1 {
	MARGIN-BOTTOM: 24px
}
#contain .more {
	MARGIN-RIGHT: 35px
}
#contain .dq {
	TEXT-ALIGN: center; MARGIN: 64px auto 11px; WIDTH: 205px; BACKGROUND: url(../images/dq_bg.jpg) no-repeat left top; HEIGHT: 33px
}
#contain .dq_content UL {
	
}
#contain .dq_content LI {
	TEXT-ALIGN: center; WIDTH: 104px; BACKGROUND: url(../images/dq_c_m.jpg) no-repeat left top; FLOAT: left; HEIGHT: 24px; COLOR: #5d5d5d; FONT-SIZE: 14px; MARGIN-RIGHT: 4px; PADDING-TOP: 9px
}
#contain *.dq_content LI.expli {
	BACKGROUND: url(../images/dq_c_e.jpg) no-repeat left top
}
*#contain *.dq_content *.tab {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; MARGIN-TOP: 4px; WIDTH: 940px; FLOAT: left; COLOR: #484846; FONT-SIZE: 14px
}
*.sider_right *.top {
	WIDTH: 270px; BACKGROUND: url(../images/sider_r_t.jpg) no-repeat left top; HEIGHT: 4px; OVERFLOW: hidden
}
*.sider_right *.mid {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; WIDTH: 264px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/sider_r_m.jpg) repeat-y left top; PADDING-TOP: 6px
}
*.sider_right *.mid *.title {
	MARGIN-BOTTOM: 14px
}
*.sider_right *.mid UL {
	
}
*.sider_right *.mid LI {
	PADDING-BOTTOM: 8px; MARGIN-BOTTOM: 12px; BACKGROUND: url(../images/line_d.jpg) repeat-x left bottom; FLOAT: left
}
*.sider_right *.mid LI *.numb {
	WIDTH: 14px; FLOAT: left; MARGIN-RIGHT: 8px
}
*.sider_right *.mid LI *.bt {
	WIDTH: 182px; FLOAT: left; MARGIN-LEFT: 8px
}
*.sider_right *.mid LI *.tjl {
	WIDTH: 44px; FLOAT: left
}
*.sider_right *.bot1 {
	WIDTH: 270px; BACKGROUND: url(../images/sider_r_b.jpg) no-repeat left top; HEIGHT: 5px; OVERFLOW: hidden
}
#contain .bot {
	WIDTH: 659px; BACKGROUND: url(../images/contain_bot.jpg) no-repeat left top; HEIGHT: 6px; OVERFLOW: hidden
}
#foot1 {
	TEXT-ALIGN: center; MARGIN: 0px auto; BACKGROUND: url(../images/foot_bg.jpg) #fff repeat-x left 11px; HEIGHT: 31px; PADDING-TOP: 35px
}







.tj *.content .mid .nojs {
	WIDTH: 920px; FLOAT: right
}
.tj .content .mid .nojs .nojs_top {
	BACKGROUND: url(../images/nojc_top.jpg) no-repeat left top; HEIGHT: 10px; OVERFLOW: hidden
}
*.tj *.content *.mid *.nojs *.nojs_mid {
	TEXT-ALIGN: left; PADDING-LEFT: 14px; WIDTH: 906px; BACKGROUND: url(../images/nojc_mid.jpg) repeat-y left top
}
*.tj .content .mid .nojs .nojs_mid .title1 {
	POSITION: relative; MARGIN-BOTTOM: 24px
}
*.tj .content .mid .nojs .nojs_mid .title1 .fy {
	POSITION: absolute; TOP: 0px; RIGHT: 14px
}
.tj .content .mid .nojs .nojs_mid .title1 .fy IMG {
	MARGIN: 0px 5px
}
.tj .content .mid .nojs .nojs_mid .list_img {
	POSITION: relative; WIDTH: 882px; OVERFLOW: hidden
}
.tj .content .mid .nojs .nojs_mid .list_img UL {
	WIDTH: 50000px
}
.tj .content .mid .nojs .nojs_mid .list_img LI {
	WIDTH: 132px; FLOAT: left; MARGIN-RIGHT: 32px
}
.tj .content .mid .nojs .nojs_mid .list_img LI .img {
	BORDER-BOTTOM: #e9e9e9 4px solid; POSITION: relative; TEXT-ALIGN: left; BORDER-LEFT: #e9e9e9 4px solid; MARGIN-BOTTOM: 10px; BORDER-TOP: #e9e9e9 4px solid; BORDER-RIGHT: #e9e9e9 4px solid
}
.tj .content .mid .nojs *.nojs_mid *.list_img LI *.img *.bg {
	POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 35px; HEIGHT: 31px; TOP: 30px; LEFT: 44px; -moz-opacity: 0.2; opacity: 0.2
}
*.tj *.content *.mid *.nojs *.nojs_mid *.list_img LI *.img *.bf {
	POSITION: absolute; TOP: 36px; LEFT: 58px
}
*.tj *.content *.mid *.nojs *.nojs_mid *.list_img LI DIV {
	MARGIN-BOTTOM: 8px
}
*.tj *.content *.mid *.nojs *.nojs_mid *.list_img LI DIV.height {
	HEIGHT: 16px
}
*.tj *.content *.mid *.nojs *.nojs_mid *.list_img LI DIV.height1 {
	HEIGHT: 14px; _height: 15px
}
*.tj *.content *.mid *.nojs *.nojs_mid *.list_font UL {
	
}
*.tj .content .mid .nojs .nojs_mid .list_font LI {
	MARGIN-TOP: 10px; WIDTH: 220px; FLOAT: left; MARGIN-RIGHT: 10px; _margin-top: 8px
}
.tj .content .mid .nojs .nojs_bot {
	BACKGROUND: url(../images/nojc_bot.jpg) no-repeat left top; HEIGHT: 6px; OVERFLOW: hidden
}
