* {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	BACKGROUND: #fff
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; MARGIN: 0px auto; COLOR: #333; FONT-FAMILY: Arial,"ו"; TEXT-ALIGN: center
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0fa5d6; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
FORM {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
DL {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
DT {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
DD {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.wapper {
	MARGIN: 0px auto; WIDTH: 1002px; TEXT-ALIGN: left
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.btn_blue {
	DISPLAY: block; BACKGROUND: url(../images/btn_blue.gif) no-repeat; FLOAT: left; WIDTH: 65px; COLOR: #fff; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
.btn_green {
	DISPLAY: block; BACKGROUND: url(../images/btn_blue.gif) no-repeat; FLOAT: left; WIDTH: 65px; COLOR: #fff; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
.btn_bigblue {
	DISPLAY: block; BACKGROUND: url(../images/btn_blue.gif) no-repeat; FLOAT: left; WIDTH: 65px; COLOR: #fff; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
.btn_biggreen {
	DISPLAY: block; BACKGROUND: url(../images/btn_blue.gif) no-repeat; FLOAT: left; WIDTH: 65px; COLOR: #fff; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
.btn_green {
	BACKGROUND: url(images/btn_green.gif) no-repeat
}
A.btn_blue:hover {
	COLOR: #333; TEXT-DECORATION: none
}
A.btn_green:hover {
	COLOR: #333; TEXT-DECORATION: none
}
INPUT.btn_blue {
	FONT-WEIGHT: bold; FLOAT: none; CURSOR: pointer
}
INPUT.btn_green {
	FONT-WEIGHT: bold; FLOAT: none; CURSOR: pointer
}
INPUT.btn_green {
	
}
.btn_bigblue {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 38px; HEIGHT: 38px
}
.btn_biggreen {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 38px; HEIGHT: 38px
}
.btn_bigblue {
	BACKGROUND: url(../images/btn_bigblue.gif) no-repeat; WIDTH: 85px
}
.btn_biggreen {
	PADDING-LEFT: 27px; BACKGROUND: url(../images/btn_biggreen.gif) no-repeat; WIDTH: 100px
}
.c_grey {
	COLOR: #313131
}
.c_red {
	COLOR: #e60012
}
.c_blue {
	COLOR: #0fa5d6
}
#main {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; WIDTH: 1000px; PADDING-TOP: 2px
}
.main_l {
	FLOAT: left
}
.main_c {
	FLOAT: left
}
.main_r {
	FLOAT: left
}
.list_r {
	FLOAT: left
}
.main_l {
	WIDTH: 242px
}
.sidebar {
	WIDTH: 240px
}
.sidebar_tit {
	BORDER-RIGHT: #d8e7f3 1px solid; BORDER-TOP: #d8e7f3 1px solid; PADDING-LEFT: 26px; BACKGROUND: url(../images/tit_1.gif) repeat-x; BORDER-LEFT: #d8e7f3 1px solid; WIDTH: 210px; COLOR: #0fa5d6; LINE-HEIGHT: 34px; BORDER-BOTTOM: #d8e7f3 1px; HEIGHT: 34px
}
.sidebar_con {
	BORDER-RIGHT: #d8e7f3 1px solid; BORDER-TOP: #d8e7f3 1px solid; BORDER-LEFT: #d8e7f3 1px solid; WIDTH: 236px; BORDER-BOTTOM: #d8e7f3 1px solid
}
.sidebar_con .tit {
	PADDING-LEFT: 26px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/tit_2.jpg) no-repeat; COLOR: #0fa5d6; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.sidebar_con UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 26px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.sidebar_con LI {
	FLOAT: left; WIDTH: 70px; LINE-HEIGHT: 20px
}
.commbox {
	MARGIN-TOP: 2px; WIDTH: 239px
}
.commbox_tit {
	PADDING-RIGHT: 10px; PADDING-LEFT: 22px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/tit_3.gif) repeat-x; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 30px; PADDING-TOP: 0px; HEIGHT: 30px
}
.more {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; COLOR: #0fa5d6
}
A.more:hover {
	COLOR: #313131
}
.commbox_tit A.more {
	COLOR: #fff
}
.commbox_con {
	BORDER-RIGHT: #d9e8f3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #d9e8f3 1px; PADDING-LEFT: 18px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d9e8f3 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 10px; BORDER-BOTTOM: #d9e8f3 1px solid
}
.commbox_con TABLE {
	WIDTH: 100%
}
.commbox_con A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 160px; COLOR: #313131; HEIGHT: 16px
}
.commbox_con A:hover {
	COLOR: #0fa5d6; TEXT-DECORATION: underline
}
.lbox {
	MARGIN-TOP: 6px; WIDTH: 239px
}
.lbox_c {
	BORDER-RIGHT: #d9e8f3 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #d9e8f3 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d9e8f3 1px solid; WIDTH: 224px; PADDING-TOP: 0px; BORDER-BOTTOM: #d9e8f3 1px solid
}
.main_c {
	WIDTH: 509px
}
.push {
	
}
.push_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/tit_8.gif) repeat-x; WIDTH: 100%; COLOR: #0fa5d6; LINE-HEIGHT: 30px; PADDING-TOP: 5px; HEIGHT: 30px
}
.newsoft_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/tit_8.gif) repeat-x; WIDTH: 100%; COLOR: #0fa5d6; LINE-HEIGHT: 30px; PADDING-TOP: 5px; HEIGHT: 30px
}
.list_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/tit_8.gif) repeat-x; WIDTH: 100%; COLOR: #0fa5d6; LINE-HEIGHT: 30px; PADDING-TOP: 5px; HEIGHT: 30px
}
.push_tit .left {
	PADDING-LEFT: 40px
}
.newsoft_tit .left {
	PADDING-LEFT: 40px
}
.list_tit .left {
	PADDING-LEFT: 40px
}
.push_tit A.more {
	PADDING-RIGHT: 10px; COLOR: #0fa5d6
}
.newsoft_tit A.more {
	PADDING-RIGHT: 10px; COLOR: #0fa5d6
}
.list_tit A.more {
	PADDING-RIGHT: 10px; COLOR: #0fa5d6
}
.push_tit A.more:hover {
	COLOR: #313131
}
.newsoft_tit A.more:hover {
	COLOR: #313131
}
.list_tit A.more:hover {
	COLOR: #313131
}
.push_tit .left {
	BACKGROUND: url(../images/ico_tebie.gif) no-repeat 15px bottom
}
.push_con {
	BORDER-RIGHT: #daeef5 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #daeef5 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #daeef5 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #daeef5 1px solid
}
A.softtit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #313131; LINE-HEIGHT: 1.6em
}
A.softtit:hover {
	COLOR: #0fa5d6
}
.push_con IMG {
	BORDER-RIGHT: #ddd 3px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 3px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 3px solid; WIDTH: 120px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 3px solid; HEIGHT: 120px
}
.push_con IMG:hover {
	BORDER-RIGHT: #09c 3px solid; BORDER-TOP: #09c 3px solid; BORDER-LEFT: #09c 3px solid; BORDER-BOTTOM: #09c 3px solid
}
.push_con TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; PADDING-TOP: 12px; BORDER-BOTTOM: #959595 1px dotted
}
.push_con TD.nonebor {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.push_con .btn_blue {
	MARGIN: 5px 5px 0px 0px
}
.push_con .btn_green {
	MARGIN: 5px 5px 0px 0px
}
.star {
	BACKGROUND: url(../images/star_off.gif) repeat-x; WIDTH: 90px; HEIGHT: 18px
}
.star LI {
	DISPLAY: block; BACKGROUND: url(../images/star_on.gif) no-repeat; FLOAT: left; WIDTH: 18px; HEIGHT: 18px
}
.push_con .star {
	FLOAT: left
}
.downinfo {
	FLOAT: left
}
.star {
	FLOAT: left
}
.push_con A.more {
	FLOAT: left; MARGIN: 10px 0px 0px 5px; COLOR: #0fa5d6
}
.newsoft {
	
}
.newsoft_tit .left {
	BACKGROUND: url(../images/ico_changyong.gif) no-repeat 15px bottom
}
.main_r {
	MARGIN-LEFT: 5px; WIDTH: 240px
}
.main_rcon {
	BORDER-RIGHT: #dcf0f7 1px solid; BORDER-TOP: #dcf0f7 1px solid; BORDER-LEFT: #dcf0f7 1px solid; BORDER-BOTTOM: #dcf0f7 1px solid
}
.oftenuse {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.downtop {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.oftenuse_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #00abd6; LINE-HEIGHT: 30px; BORDER-BOTTOM: #e5f4f9 1px solid; HEIGHT: 30px
}
.oftenuse_tit A.more {
	COLOR: #00abd6
}
.ico_1 {
	PADDING-LEFT: 26px; BACKGROUND: url(../images/ico_1.gif) no-repeat left center
}
.oftenuse_con {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; COLOR: #666; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #cbe9f3 2px solid
}
.oftenuse_con TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.downtop {
	MARGIN-TOP: 5px
}
.ico_2 {
	DISPLAY: block; PADDING-LEFT: 28px; BACKGROUND: url(../images/ico_2.gif) no-repeat left 5px; HEIGHT: 30px
}
.ico_4 {
	DISPLAY: block; PADDING-LEFT: 28px; BACKGROUND: url(../images/ico_2.gif) no-repeat left 5px; HEIGHT: 30px
}
.downtop_con {
	COLOR: #ff6600; LINE-HEIGHT: 24px
}
.downtop_con TH {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; BACKGROUND: url(../images/th_bg.gif) repeat-x; COLOR: #fff; TEXT-ALIGN: left
}
.downtop_con TD {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
.downtop_con TD A {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; COLOR: #313131; HEIGHT: 24px; TEXT-ALIGN: left
}
.downtop_con TD A:hover {
	COLOR: #0fa5d6
}
.wallpaper {
	PADDING-RIGHT: 5px; PADDING-LEFT: 7px; BACKGROUND: url(../images/tit_6.gif) no-repeat left top; PADDING-BOTTOM: 18px; PADDING-TOP: 28px
}
.ico_3 {
	PADDING-LEFT: 26px; BACKGROUND: url(../images/ico_3.gif) no-repeat left center
}
.wallpaper_con IMG {
	MARGIN-RIGHT: 5px
}
.news {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/tit_7.gif) repeat-x left top; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ico_4 {
	PADDING-LEFT: 25px; BACKGROUND: url(../images/ico_4.gif) no-repeat left center
}
.news_con {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.news_con TABLE {
	WIDTH: 100%
}
.news_con A {
	COLOR: #313131
}
.news_con A:hover {
	COLOR: #0fa5d6
}
#footer {
	MARGIN: 0px auto; LINE-HEIGHT: 1.6em; TEXT-ALIGN: center
}
#footer TABLE {
	MARGIN: 0px auto
}
.footerline {
	BORDER-TOP: #a1e1ff 1px solid; MARGIN-TOP: 10px; PADDING-TOP: 15px
}
#list_main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; WIDTH: 1001px; PADDING-TOP: 2px
}
.list_r {
	BORDER-RIGHT: #daeef5 1px solid; BORDER-TOP: #daeef5 1px solid; BORDER-LEFT: #daeef5 1px solid; WIDTH: 755px; BORDER-BOTTOM: #daeef5 1px solid; _margin-left: -3px
}
.list_tit .left {
	BACKGROUND: url(../images/ico_changyong.gif) no-repeat 20px bottom
}
.list_con {
	WIDTH: 100%
}
.listcon1 {
	WIDTH: 100%; LINE-HEIGHT: 18px; TEXT-ALIGN: left
}
.listcon1 SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 220px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.listcon1 A.more {
	MARGIN-TOP: 0px
}
.listcon1 IMG {
	BORDER-RIGHT: #ddd 3px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 3px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #ddd 3px solid; WIDTH: 120px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 3px solid; HEIGHT: 120px
}
.listcon1 IMG:hover {
	BORDER-RIGHT: #09c 3px solid; BORDER-TOP: #09c 3px solid; BORDER-LEFT: #09c 3px solid; BORDER-BOTTOM: #09c 3px solid
}
.listcon1 .li_name {
	FONT-SIZE: 13px
}
.listcon2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.soft_list {
	PADDING-BOTTOM: 25px
}
.soft_list .btn_blue {
	MARGIN-RIGHT: 5px
}
.soft_list .btn_green {
	MARGIN-RIGHT: 5px
}
.listcon_tit {
	BORDER-TOP: #959595 1px dotted; PADDING-LEFT: 7px; BACKGROUND: url(../images/tit_9.gif) repeat-x; HEIGHT: 43px
}
.listcon_tit LI {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.listcon_tit LI.softname {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: hidden; WIDTH: 300px; HEIGHT: 22px
}
.soft_main {
	MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 710px
}
.soft_main LI {
	FLOAT: left
}
.soft_main LI IMG {
	BORDER-RIGHT: #ddd 3px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 3px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 3px solid; WIDTH: 120px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 3px solid; HEIGHT: 120px
}
.soft_main LI IMG:hover {
	BORDER-RIGHT: #09c 3px solid; BORDER-TOP: #09c 3px solid; BORDER-LEFT: #09c 3px solid; BORDER-BOTTOM: #09c 3px solid
}
.soft_info {
	PADDING-LEFT: 25px; FONT-SIZE: 13px; OVERFLOW: hidden; WIDTH: 550px; LINE-HEIGHT: 21px
}
.soft_text {
	WIDTH: 550px
}
.soft_btn {
	MARGIN-TOP: 15px
}
.soft_btn .more {
	FLOAT: left; MARGIN: 3px 0px 0px 20px
}
.pages {
	PADDING-LEFT: 22px; FONT-SIZE: 13px; COLOR: #666; LINE-HEIGHT: 24px; HEIGHT: 32px
}
.pages A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; COLOR: #0fa5d6; PADDING-TOP: 0px
}
.pageson {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.softdown {
	WIDTH: 100%
}
.soft_data {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.img_pdt {
	VERTICAL-ALIGN: top; WIDTH: 180px; TEXT-ALIGN: left
}
.img_pdt IMG {
	BORDER-RIGHT: #ddd 5px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 5px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 5px solid; WIDTH: 160px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 5px solid; HEIGHT: 160px
}
.downname {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.riqi {
	PADDING-RIGHT: 20px; BORDER-TOP: #d9d9d9 1px solid; DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: #e7f5f9; PADDING-BOTTOM: 0px; MARGIN: 8px 0px; WIDTH: 680px; LINE-HEIGHT: 26px; PADDING-TOP: 0px; HEIGHT: 26px
}
.riqi SPAN {
	MARGIN-RIGHT: 30px
}
.soft_data .downinfo {
	PADDING-LEFT: 12px; LINE-HEIGHT: 20px
}
.soft_data .downinfo SPAN {
	DISPLAY: inline-block; WIDTH: 150px
}
.downbtn {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.downbtn A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.downbtn .btn_bigblue {
	MARGIN-RIGHT: 5px
}
.downbtn .btn_biggreen {
	MARGIN-RIGHT: 5px
}
.soft_intro {
	PADDING-RIGHT: 20px; BORDER-TOP: #959595 1px dotted; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(../images/tit_9.gif) repeat-x; PADDING-BOTTOM: 30px; MARGIN-LEFT: 15px; WIDTH: 680px; COLOR: #313131; LINE-HEIGHT: 20px; PADDING-TOP: 5px
}
.soft_intro P {
	PADDING-BOTTOM: 15px
}
.soft_intro .tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #00abd6; LINE-HEIGHT: 40px
}
.comm_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #00abd6; LINE-HEIGHT: 40px
}
.soft_intro A {
	TEXT-DECORATION: underline
}
.comm_tit A {
	COLOR: #00abd6
}
.comment {
	WIDTH: 100%
}
.comm_tit {
	PADDING-LEFT: 56px; BACKGROUND: url(../images/tit_11.jpg) no-repeat; LINE-HEIGHT: 36px; HEIGHT: 36px
}
.comm_con {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 18px
}
.comm_con TD {
	PADDING-RIGHT: 12px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 5px
}
.appear {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../images/comm_bg.gif) repeat-x; PADDING-BOTTOM: 5px; MARGIN: 20px 20px 0px; PADDING-TOP: 0px
}
.appear STRONG {
	LINE-HEIGHT: 40px
}
.appear TD {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.appear .btn_blue {
	DISPLAY: inline
}
.btn_green {
	DISPLAY: inline
}
.comm_username INPUT {
	BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #bfbfbf 1px solid; WIDTH: 100px; BORDER-BOTTOM: #bfbfbf 1px solid; HEIGHT: 20px
}
.comm_textarea {
	MARGIN: 5px 0px
}
.comm_textarea TEXTAREA {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BACKGROUND: #fff; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 630px; BORDER-BOTTOM: #c0c0c0 1px solid; HEIGHT: 122px
}
.comm_btn {
	TEXT-ALIGN: center
}
.ndsoft {
	BORDER-RIGHT: #dcf0f7 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dcf0f7 1px solid; PADDING-LEFT: 3px; BACKGROUND: #e9f7fa; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dcf0f7 1px solid; WIDTH: 232px; PADDING-TOP: 3px; BORDER-BOTTOM: #dcf0f7 1px solid
}
.ndsoft H1 {
	PADDING-LEFT: 7px; FONT-SIZE: 14px; COLOR: #0fa5d6; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.ndsoft TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; CURSOR: pointer; PADDING-TOP: 5px
}
.ndsoft TR:hover {
	COLOR: #0fa5d6
}
