*#news {
	BORDER-BOTTOM: #cde6ed 1px solid; BORDER-LEFT: #cde6ed 1px solid; WIDTH: 711px; FLOAT: left; BORDER-TOP: #cde6ed 1px solid; BORDER-RIGHT: #cde6ed 1px solid
}
*.newsmapbg {
	MARGIN: 1px auto; WIDTH: 709px; BACKGROUND: url(../images/newsmapbg02.gif) repeat-x; HEIGHT: 35px
}
*.news_map {
	LINE-HEIGHT: 35px; PADDING-LEFT: 20px; WIDTH: 680px; BACKGROUND: url(../images/newstitleico.gif) no-repeat 10px 10px; HEIGHT: 35px; COLOR: #000
}
*.news_content {
	MARGIN: 0px auto; WIDTH: 690px; BORDER-TOP: #ccc 1px dotted
}
*.news_content A {
	COLOR: #00abd6
}
*.news_con_tit {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; HEIGHT: 40px
}
*.news_con_tit H1 {
	FONT-SIZE: 16px
}
*.news_info {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; MARGIN-BOTTOM: 10px; BACKGROUND: #e0f2f2; HEIGHT: 20px; COLOR: #333
}
.news_info SPAN {
	MARGIN: 0px 20px
}
.news_con_main {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.news_con_main P {
	PADDING-BOTTOM: 15px; TEXT-INDENT: 2em; FONT-FAMILY: "ו"; FONT-SIZE: 14px
}
.news_info SPAN.numcolor {
	MARGIN: 0px 3px; COLOR: #f30
}
.news_about {
	MARGIN: 0px auto; WIDTH: 690px
}
.news_about_tit {
	LINE-HEIGHT: 30px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #e0f0fd; HEIGHT: 30px; FONT-SIZE: 14px
}
.news_about_con {
	WIDTH: 100%
}
*.news_about_con_1 {
	WIDTH: 100%
}
.news_about_con_2 {
	WIDTH: 100%
}
*.news_about_con_2 {
	MARGIN-TOP: 10px
}
.send_comment_tit {
	MARGIN: 10px 0px; WIDTH: 100%; COLOR: #246983; FONT-WEIGHT: bold
}
*.commentSend {
	MARGIN-LEFT: 30px
}
.commentSend TD {
	PADDING-RIGHT: 10px
}
*.news_correlation {
	LINE-HEIGHT: 1.8em; MARGIN: 5px 10px
}
*.news_correlation A {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/arrow080702.gif) no-repeat 0px 3px
}
*.page_version2 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 550px; PADDING-RIGHT: 0px; CLEAR: both; FONT-SIZE: 12px; PADDING-TOP: 4px
}
*.page_version2 SPAN.no_link {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; COLOR: #999; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 2px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.page_version2 A {
	BORDER-BOTTOM: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; COLOR: #296eb3; BORDER-TOP: #9aafe5 1px solid; MARGIN-RIGHT: 2px; BORDER-RIGHT: #9aafe5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.page_version2 A:hover {
	BORDER-BOTTOM: #086696 1px solid; BORDER-LEFT: #086696 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #086696; COLOR: #fff; BORDER-TOP: #086696 1px solid; MARGIN-RIGHT: 2px; BORDER-RIGHT: #086696 1px solid; PADDING-TOP: 2px
}
.page_version2 SPAN.current {
	BORDER-BOTTOM: #086696 1px solid; BORDER-LEFT: #086696 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #086696; COLOR: #fff; BORDER-TOP: #086696 1px solid; MARGIN-RIGHT: 2px; BORDER-RIGHT: #086696 1px solid; PADDING-TOP: 2px
}
.spage {
	MARGIN: 0px auto 10px
}





















		.viewbox .boxoff{
			height:10px;
			overflow:hidden;
			clear:both;
			background:url(../images/boxoff.gif) left 15px repeat-x;
			margin:4px auto;
			padding-top:10px;
		}
		.viewbox .boxoff strong{
			display:block;
			width:8px;
			height:10px;
			overflow:hidden;
			font-size:0px;
			line-height:100px;
			background:url(../images/boxoff.gif) right -10px no-repeat;
			float:left;
		}
		.viewbox .handle{
			height:59px;
			padding-top:12px;
			overflow:hidden;
			clear:both;
		}
		.viewbox .handle .digg{
			width:59px;
			height:59px;
			float:left;
			background:url(../images/digg-bg.gif) no-repeat;
			margin-right:12px;
		}
		.viewbox .handle .digg .digg_num{
			width:56px;
			height:34px;
			font-size:20px;
			text-align:center;
			line-height:34px;
			overflow:hidden;
			color:#6B9169;
		}
		.viewbox .handle .digg .digg_act{
			width:56px;
			height:22px;
			line-height:23px;
			overflow:hidden;
		}
		.viewbox .handle .digg .digg_act a{
			margin-left:11px;
			color:#777;
			float:left;
		}
		.viewbox .handle .context{
			float:left;
		}
		.viewbox .handle .context ul li{
			line-height:29px;
			color:#888;
		}
		
		.viewbox .actbox{
			width:260px;
			text-align:center;
			float:right;
			padding-top:20px;
			padding-right:10px;
		}
		.viewbox .actbox ul li{
			display:inline;
			padding-left:22px;
			background-image:url(../images/actbox-ico.gif);
			background-repeat:no-repeat;
			margin-right:10px;
		}
		.viewbox .actbox ul li a{
			color:#777;
		}
		.viewbox .actbox ul li#act-fav{
			background-position:4px 0px;
		}
		.viewbox .actbox ul li#act-err{
			background-position:4px -37px;
		}
		.viewbox .actbox ul li#act-pus{
			background-position:4px -73px;
		}
		.viewbox .actbox ul li#act-pnt{
			background-position:4px -109px;
		}
