<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<import resource="forbes-admin.xml" />
	<import resource="forbes-user.xml" />
	<import resource="forbes-basic.xml" />
	<import resource="forbes-article.xml" />
	<import resource="forbes-ask.xml" />
	<import resource="forbes-video.xml" />
	<import resource="forbes-client.xml" />
	<import resource="forbes-newsfeed.xml" />
	<import resource="forbes-aop.xml" />
	<import resource="forbes-action-analysis.xml" />
	<import resource="forbes-index.xml" />
	<import resource="forbes-content.xml" />
	<import resource="forbes-favorite.xml" />
	<import resource="forbes-feedback.xml" />
	<import resource="forbes-order.xml" />
	<import resource="forbes-account.xml" />
	<import resource="forbes-sms.xml" />
	<import resource="forbes-task.xml" />
	<import resource="uc-home.xml" />
	<import resource="uc-bbs.xml" />
	<import resource="forbes-plan.xml" />
	
	<!-- 
	<bean id="config" class="com.forbes.util.Config">
        <property name="ucurl">
            <map>
                <entry  key="UC_CENTER">
                    <value>http://localhost/uc/ucenter</value> 
                </entry>
                <entry  key="UC_BBS">
                    <value>http://localhost/uc/bbs</value>
                </entry>
                <entry  key="UC_HOME">
                    <value>http://localhost/uc/home</value> 
                </entry>                
            </map>
        </property>
    </bean>
     -->
     
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/uc?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=GBK"></property>
		<property name="username" value="root"></property>
		<property name="password" value="Xushaomin1108"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/forbes/hibernate/hbm/User.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserDetail.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserFriend.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserAccount.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/UserActionType.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserActionLog.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/SysConfig.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/Dictionary.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/City.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/Sector.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/ArticleType.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/AskType.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/Ask.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/AskAnswer.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserLevel.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserLevelPromotion.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/Content.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/ContentType.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/VideoType.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/Article.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/Video.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/VideoUrl.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/ArticleKeyword.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/SearchKeyword.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/NfMsg.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/NfMsgRelationship.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/NfMsgType.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/News.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/Favorite.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/FavoriteType.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/UchomeMtag.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UchomeFeed.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UchomeDoing.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UchomeBlog.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UcMembers.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UcAdmins.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UcPms.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/CdbForums.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/CdbThreads.hbm.xml</value>
				
				<value>com/forbes/hibernate/hbm/OrderService.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserOrder.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserOrderItem.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserPaymentLog.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserScoreLog.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserService.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/FeedBack.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/Bulletin.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserDailyPlan.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserDailyAccredit.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserDailySumup.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserWeekAttitude.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserWeekAimExam.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserWeekAbility.hbm.xml</value>				
				<value>com/forbes/hibernate/hbm/UserMonthAimPlan.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserYearAimPlan.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserMonthSumup.hbm.xml</value>
				<value>com/forbes/hibernate/hbm/UserLifeStageAim.hbm.xml</value>
			</list>
		</property>
		<!-- 
		<property name="eventListeners">
			<map>
				<entry key="merge"><bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/></entry>
				<entry key="save-update"><ref local="saveUpdateHandler"/></entry>
				<entry key="delete"><ref local="deleteHandler"/></entry>
			</map>
		</property>
		 -->
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--  
	<bean id="sysConfigMap" class="com.forbe.util.SysConfigMap" scope="global session"></bean>
	-->
	
	<!--
	<bean id="sampleTokenFactory" class="com.forbes.interceptor.SampleTokenFactory">
		<property name="entityViewMap">
			<map>
				<entry key="com.forbes.hibernate.bean.UchomeSpacefield">
					<list>
						<value>/liveall/*</value>
					</list>
				</entry>
			</map>
		</property>
    </bean>
    
	<bean id="saveUpdateHandler" class="com.forbes.interceptor.SaveOrUpdateHandler">
		<property name="modifiedObjectTracker" ref="sampleTokenFactory"/>
	</bean>
	
	<bean id="deleteHandler" class="com.forbes.interceptor.DeleteHandler">
		<property name="modifiedObjectTracker" ref="sampleTokenFactory"/>
	</bean>
	-->
	
	<bean id="UserDAO" class="com.forbes.hibernate.dao.UserDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserDetailDAO" class="com.forbes.hibernate.dao.UserDetailDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserFriendDAO" class="com.forbes.hibernate.dao.UserFriendDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
	<bean id="SysConfigDAO" class="com.forbes.hibernate.dao.SysConfigDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="CityDAO" class="com.forbes.hibernate.dao.CityDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="SectorDAO" class="com.forbes.hibernate.dao.SectorDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="ArticleTypeDAO" class="com.forbes.hibernate.dao.ArticleTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="AskTypeDAO" class="com.forbes.hibernate.dao.AskTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="AskDAO" class="com.forbes.hibernate.dao.AskDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="AskAnswerDAO" class="com.forbes.hibernate.dao.AskAnswerDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="ContentDAO" class="com.forbes.hibernate.dao.ContentDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="ContentTypeDAO" class="com.forbes.hibernate.dao.ContentTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="VideoTypeDAO" class="com.forbes.hibernate.dao.VideoTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="VideoUrlDAO" class="com.forbes.hibernate.dao.VideoUrlDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="ArticleDAO" class="com.forbes.hibernate.dao.ArticleDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="VideoDAO" class="com.forbes.hibernate.dao.VideoDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="ArticleKeywordDAO" class="com.forbes.hibernate.dao.ArticleKeywordDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="SearchKeywordDAO" class="com.forbes.hibernate.dao.SearchKeywordDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="NfMsgDAO" class="com.forbes.hibernate.dao.NfMsgDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="NfMsgRelationshipDAO" class="com.forbes.hibernate.dao.NfMsgRelationshipDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="NfMsgTypeDAO" class="com.forbes.hibernate.dao.NfMsgTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="NewsDAO" class="com.forbes.hibernate.dao.NewsDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserActionTypeDAO" class="com.forbes.hibernate.dao.UserActionTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserActionLogDAO" class="com.forbes.hibernate.dao.UserActionLogDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="FavoriteDAO" class="com.forbes.hibernate.dao.FavoriteDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="FavoriteTypeDAO" class="com.forbes.hibernate.dao.FavoriteTypeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UchomeMtagDAO" class="com.forbes.hibernate.dao.UchomeMtagDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
      
    <bean id="UcMembersDAO" class="com.forbes.hibernate.dao.UcMembersDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
	<bean id="UcAdminsDAO" class="com.forbes.hibernate.dao.UcAdminsDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UchomeFeedDAO" class="com.forbes.hibernate.dao.UchomeFeedDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UchomeDoingDAO" class="com.forbes.hibernate.dao.UchomeDoingDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UchomeBlogDAO" class="com.forbes.hibernate.dao.UchomeBlogDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="CdbForumsDAO" class="com.forbes.hibernate.dao.CdbForumsDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="CdbThreadsDAO" class="com.forbes.hibernate.dao.CdbThreadsDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="OrderServiceDAO" class="com.forbes.hibernate.dao.OrderServiceDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserOrderDAO" class="com.forbes.hibernate.dao.UserOrderDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserOrderItemDAO" class="com.forbes.hibernate.dao.UserOrderItemDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserPaymentLogDAO" class="com.forbes.hibernate.dao.UserPaymentLogDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserServiceDAO" class="com.forbes.hibernate.dao.UserServiceDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
	<bean id="DictionaryDAO" class="com.forbes.hibernate.dao.DictionaryDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserLevelDAO" class="com.forbes.hibernate.dao.UserLevelDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserAccountDAO" class="com.forbes.hibernate.dao.UserAccountDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserScoreLogDAO" class="com.forbes.hibernate.dao.UserScoreLogDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserLevelPromotionDAO" class="com.forbes.hibernate.dao.UserLevelPromotionDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="FeedBackDAO" class="com.forbes.hibernate.dao.FeedBackDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UcPmsDAO" class="com.forbes.hibernate.dao.UcPmsDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="BulletinDAO" class="com.forbes.hibernate.dao.BulletinDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="UserDailyPlanDAO"
    	class="com.forbes.hibernate.dao.UserDailyPlanDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
	
    <bean id="UserDailyAccreditDAO"
    	class="com.forbes.hibernate.dao.UserDailyAccreditDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    <bean id="UserDailySumupDAO"
    	class="com.forbes.hibernate.dao.UserDailySumupDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>

    <bean id="UserWeekAttitudeDAO"
    	class="com.forbes.hibernate.dao.UserWeekAttitudeDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    <bean id="UserWeekAimExamDAO"
    	class="com.forbes.hibernate.dao.UserWeekAimExamDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    <bean id="UserWeekAbilityDAO"
    	class="com.forbes.hibernate.dao.UserWeekAbilityDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>   
    <bean id="UserMonthAimPlanDAO"
    	class="com.forbes.hibernate.dao.UserMonthAimPlanDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    <bean id="UserYearAimPlanDAO"
    	class="com.forbes.hibernate.dao.UserYearAimPlanDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    <bean id="UserMonthSumupDAO"
    	class="com.forbes.hibernate.dao.UserMonthSumupDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    <bean id="UserLifeStageAimDAO"
    	class="com.forbes.hibernate.dao.UserLifeStageAimDAO">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean></beans>